### Elm ###
# Elm-generated
/elm-stuff
repl-temp-*

### Node ###
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (http://nodejs.org/api/addons.html)
#build/Release

# Dependency directories
node_modules/
#jspm_packages/

# Typescript v1 declaration files
#typings/

# Instrumentation
#lib-cov
#coverage
#.nyc_output

# node-waf configuration
#.lock-wscript

# Optional eslint cache
#.eslintcache

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
#*.tgz

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon

# Thumbnails
._*

# sass scratchpad
/.sass-cache/**

# vim swapfiles
*.swp
*.swo

# environment file
/.env
# ruittenb scratchpad
_fabriek
# ruittenb sensitive data
serviceAccountKey.json
private-auth0.key
# ruittenb volatile data
/jssrc/Elm.js
/jssrc/version.js
/jssrc/bundle.js
/dist/bundle.js
/data/backups
